@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
}


.main-wrap {
  max-width: 400px;
}

.preview {
  
  width: 400px;
  height: 400px;
  background-size: cover;
  background-position: center center;
}



.wrap-mainpage {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.main-background {
  background-size: cover;
  position: absolute;
  width: 120%;
  height: 120%;
  left: 50%;
  top: 50%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: -2;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: color;
}

.main-card {
  z-index: 20;
}

.green-btn {
  background: #1ED760;
}






.login-wrap {
  height: 100vh;
  width: 100vw;
  max-width: 600px;
}

#root {
  width: 100%;
}

.links-wrap {
  width:100%;
  height: 100%;
  min-height: 100vh;
}

.upload {
  width: 400px;
  height: 400px;
  background-size: cover !important;
  background-position: center center;
}


.upload-icon svg path {
  fill: white;
  stroke: white;
}

.add-link {
  background: #f8f8f8;

  
}

.upload {
  background: #f9f9f9;
}

.wrapper {
  background: #f8f8f8;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mini-preview {
  background-size: cover;
  background-position: center center;
}

::selection {
  background-color: #000;
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

/* Изменяем цвет дорожки скроллбара */
::-webkit-scrollbar-track {
  background-color: #fff;
}

/* Изменяем стиль и цвет ползунка скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 4px;
}

.input {
  background: #fff;
  color: #000;
}

.input.input-black {
  background: #000;
  color: #fff;
}



.swiper {
  width: 400px;
  height: 400px;
}

@media (max-width: 700px) {
  .swiper {
    width: 280px;
    height: 280px;
  }

  .main-card {
    max-width: 100%;
    min-height: 100vh;
  }

  .upload {
    width: 100%;
    height: 350px;
  }

  .preview {
    width: 100%;
    height: 350px;
  }
}



.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide img {
  width: 100%;
}




@media (prefers-color-scheme: dark) {
  .main-background {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .dark-stroke-color svg path {
    stroke: #fff;
  }

  ::-webkit-scrollbar-track {
    background-color: #111;
  }
  
  /* Изменяем стиль и цвет ползунка скроллбара */
  ::-webkit-scrollbar-thumb {
    background-color: #1ED760;
  }

  ::selection {
    background-color: #1ED760;
    color: #000;
  }

  .arrow-down svg path {
    fill: white;
  }

  .upload-icon svg path {
    fill: black;
    stroke: black;
  }

  .wrapper {
    background: #111;
  }

  .add-link {
    background: #111;
  }

  .wrap-mainpage {
    /* background: #111; */
  }

  .upload {
    background: #111;
  }

  body {
    background: #111;
  }

  .lds-ring div {
    border-color: #000 transparent transparent transparent;
  }

}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.custom-loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background:
          radial-gradient(farthest-side,#fff 94%,#0000) top/4px 4px no-repeat,
          conic-gradient(#0000 30%,#fff);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
  animation:s3 1s infinite linear;
}

@keyframes s3{
  100%{transform: rotate(1turn)}
}